@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(rgb(74, 233, 137),30%,rgb(160, 125, 105));
}

.wrapper{
    background: white;
    padding: 20px;
    width: 450px;
    border-radius: 5px;
}

.wrapper form{
    height: 50px;
    width:100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form i{
    position: absolute;
    width: 55px;
    text-align: center;
    font-size: 23px;
    color: #c4c4c4;
    pointer-events: none;
}

form input{
    height: 100%;
    width: 100%;
    border: 2px solid #ddd;
    outline: none;
    border-radius: 5px;
    padding: 0 50px 0 45px;
    font-size: 18px;

}
form input:focus,
form input:valid{
    border-color:rgba(74, 233, 137,0.85);

}

form .counter{
    position: absolute;
    right: 3px;
    width: 55px;
    text-align: center;
    font-size: 23px;
    color: #c4c4c4;
    border-left: 1px solid #d8d8d8;
    pointer-events: none;
}

form input::placeholder{
    color: #c4c4c4;
}

form input:valid ~ .counter{
    color: rgba(74, 233, 137,0.85);
    border-color:rgba(74, 233, 137,0.85);

}

form input:valid ~ i{
    color: rgba(74, 233, 137,0.85);
    

}
